:root {
  --dark-purple: #2c1320ff;
  --english-violet: #5f4b66ff;
  --cool-gray: #a7adc6ff;
  --cool-gray-2: #8797afff;
  --paynes-gray: #56667aff;
  --weapon-body-bg-color: #f2f2f2;
  --weapon-body-font-color: #000000;
  --weapon-header-bg-color: #000000;
  --weapon-header-font-color: #ffff;

  --system-body-bg-color: #f2f2f2;
  --system-body-font-color: #000000;
  --system-header-bg-color: #1d722a;
  --system-header-font-color: #ffff;

  --maneuver-body-bg-color: #f3e8e8;
  --maneuver-body-font-color: #000000;
  --maneuver-header-bg-color: #8d0000;
  --maneuver-header-font-color: #ffff;

  --tactic-body-bg-color: #e9ecf5;
  --tactic-body-font-color: #000000;
  --tactic-header-bg-color: #243d97;
  --tactic-header-font-color: #ffff;

  --trait-body-bg-color: #faf6d9;
  --trait-body-font-color: #000000;
  --trait-header-bg-color: #a99200;
  --trait-header-font-color: #ffff;

  --escort-body-bg-color: #ddebfb;
  --escort-body-font-color: #000000;
  --escort-header-bg-color: #1a7ae5;
  --escort-header-font-color: #ffff;

  --ship-bg-color: #CCCCCC;
  --ship-gms-bg-color: #991E2A;
  --ship-ipsn-bg-color: #0C4D99;
  --ship-ha-bg-color: #6E4373;
  --ship-ssc-bg-color: #B57E07;
  --ship-fks-bg-color: #046E3C;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: consolas, Arial, Helvetica, sans-serif;
  background-color: black;
  color: var(--english-violet);
}

@font-face {
  font-family: consolas;
  src: url(Consolas.ttf) format("truetype");
}

.clickable {
  cursor: pointer !important;
}